body {
  margin: 0;
  padding: o;
  border: auto;
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0GDyCPaOdXEDNS092nSLc_jeGuvcwEfGb6kzFn09qqw&s);
}

#Q2,#Q3,#Q1,#Q3,#Q4{
  font-weight: 50;
  font-size: 20px;
  border: 2px dotted black;
  color: black;
  display: box;
}
button {
  padding: 8px 20px;
  color: brgb(4, 4, 4);
  cursor: pointer;
}
button:hover {
  background-color: aliceblue;
}
input{
    padding: 8px;
    margin-bottom: 10px;
}
h1{
    text-align: center;
}
.hide{
    display: none;
}

#but1 , #but2 ,#but3 ,#but4,#but5{
    font-size: 20px;
    text-align: center;
    border: 3px solid black;

}
